<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/ConfirmationStyling.css">
    <title>Thankyou</title>
</head>
<body>

    <div class="Thankyou" id="Thankyou">
        <p>  Dear <b> {{Name}} </b> , Thankyou For Registering. You will Recive a Confirmation Mail to <i>{{Mail}}</i> Shortly!</p>
    </div> 
    
</body>
</html>